@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body{
    font-family: inter , sans-serif;
    overflow-x: hidden;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

p{
    color: rgb(0, 0, 0);
    font-family: "Public Sans" !important;
}

h1, h2 ,h3 , h4, h5{
    color:  rgb(27, 27, 27) !important;
    font-weight: bold !important;
}

h6{
    font-weight: 600;
}

a{
    text-decoration: none!important; 
    color: aliceblue !important;      
    cursor: pointer;
}

a:active{
    border-color: rgb(34, 65, 185);
    border-style: solid;
    border-width: 4px;
}

.nav-link:hover , .nav-link.active{
    color: rgb(51, 51, 51);
}

.bg-dark{
    background-color: black !important;
}

.swiper-pagination-bullet{
    background-color: rgb(71, 71, 71) !important;
}

.time-ago{
    font-family: DM Mono;
}

.arrow-img

/*--------------------
-------NAVBAR---------
---------------------*/

.dropend{
    width: 100%;
}

li> a{
    color:rgb(255, 255, 255) !important;
}

.dropdown-item{
    width: 100% !important;
    text-align: center !important;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropdown-toggle{
    color: black;
}

.dropdown-toggle:hover{
    color:  rgb(211, 211, 211) !important;
    cursor: pointer !important;
}

.dropdown-item:hover{
    color:  rgb(37, 37, 37) !important;
    cursor: pointer !important;
}

.dropdown-item:active{
    background-color:  black  !important;
    color:white!important;
    cursor: pointer !important;
}

.dropdown-menu{
    border: none ;
    width: 100%;
    background-color:  black !important;
}

.navbar{
    min-height: 90px;
    background-color: rgb(0, 0, 0) !important;
}

.nav-link:hover , .nav-link.active{
    color: rgb(51, 51, 51);
}

.nav-brand:active{
    border-color: rgb(34, 65, 185);
    border-style: solid;
    border-width: 4px;
}

.nav-link{
    color: white;
    font-weight: 600;
}

/*--------------------
-----HERO SECTION-----
---------------------*/

.parallax {
    height: 70vh; /* Adjust as needed */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}


/*--------------------
--------DTV---------
---------------------*/

.dtv{
    background-color: rgba(211, 211, 211, 0.829);
}

.topic-1{
    color: rgb(246,65,55) !important;
    font-family: "Merriweather" !important;
    font-weight: bold;
}

.topic-2{
    color:  rgb(24, 24, 24)!important;
    font-family: "Merriweather" !important;
    font-weight: bold;
}

/*--------------------
-------ABOUT US-------
---------------------*/

.about{
    background-color: rgba(219, 219, 219, 0.637);
}

.about-us-topic{
    flex-direction: column;
}

.about-us-img-container{
    max-width: 25vw !;
}

.about-us-img{ 
    max-width: 100%;
}

.about-us-paragraph{
    text-align: center;
    color: rgb(26, 26, 26);
}

/*--------------------
--------CARDS---------
---------------------*/

.card{
    background-color: transparent !important;
    border-color: transparent !important;
    border: 0px !important;
    user-select: none;
}

.card:hover{
    cursor: pointer;
}

.card-project {
    height:50vh !important;
    margin-bottom: 20px;
}

.card-img{
    height: 50vh !important;
    border-radius: 0% !important;
    object-fit: cover !important;
    filter: brightness(70%);
}

.card > div > p {
    color: white !important;
}

.card > div > div > .time-ago {
    color: white !important;
}

.card-img-overlay{
    overflow: hidden;
}

.card-title{
    color:  rgb(255, 255, 255)!important;
}

.card-title-2{
    color:  rgb(27, 27, 27)!important;
}

.arrow-img{
    background-color: rgb(246,65,55);
    border-radius: 50%;
    margin-left: 20px;
}

.swiper-slide:active{
    cursor: grabbing!important;
}

/*--------------------
--------NEWS----------
---------------------*/

.news-section{
    min-width: 100%;
}

.card-news{
    height: 70vh !important ;
}

.card-news-img{
    height: 70vh !important ;
}

.card-news-sub-container{
    height: 70vh !important;
}

.card-news-sub{
    height: 33vh !important;
    width: 100% !important;
}

.card-news-img-sub{
    height: 33vh !important;
    width: 100% !important;
    filter: brightness(70%);
}

/*--------------------
---------Maps---------
---------------------*/

.maps{
    text-align: center;
    background-color: rgb(197, 197, 197);
}

.block1, .block2, .block3 , .block4, .block5,.block6,.block7, .block8 {
    width: 100%;
    aspect-ratio: 1 !important;
    font-size:70% !important;
}

.block1:hover, .block2:hover, .block3:hover , .block4:hover, .block5:hover,.block6:hover, .block7:hover, .block8:hover{
    filter: brightness(50%);
    cursor: pointer;
}

.block1, .block2, .block3 , .block4, .block5,.block6, .block7, .block8 {
    overflow: hidden;
    background-color: rgb(66, 66, 66);
    text-align: center;
}

.carousel-control-prev, .carousel-control-next{
    width:30px ;
    height: 30px;
    margin-top: 15%;
    background-color: rgb(73, 73, 73) !important;
}

.carousel{
    position: relative !important;
}

.carousel > h1{
    text-align: center;
}

.carousel-indicators{
    bottom: -40px !important;
    position: absolute!important;
}

.carousel-indicators > button{
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
}

.carousel-item  > .container > h3{
    text-align: center;
}

/*--------------------
--------Footer--------
---------------------*/

footer{
    background-color: rgb(0, 0, 0) ;
}

footer > div > div > div > h4{
    color: white !important;
    font-weight: 400;
}

footer > div > div > ul > li > a{
    color: white !important;
    font-weight: 300;
    font-size: 16px;
}

footer > div > div > ul > li > a:hover{
    text-decoration: underline dashed 1px  !important;
}


footer > div > div > div > ul > li > a > img{
    background-color: rgb(47,47,50);
    padding: 5px;
    border-radius: 50%;
}

footer > div > div > div > ul > li > a > img:hover{
    background-color: rgb(80, 80, 83);
    padding: 5px;
    border-radius: 50%;
}


/*-----------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------*/


/*--------------------
------SERCH BAR-------
---------------------*/

#searchBar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

.paragraph {
    display: none;
}

.paragraph.show {
    display: block;
}

.highlight {
    background-color: rgb(246,65,55);
}
