body{
    font-family: inter , sans-serif;
    overflow-x: hidden;
    font-size: 18px;
    margin: 0;
    padding: 0;
    background-color: rgb(22,21,25);
    user-select: none;
}

p{
    color: rgb(139, 139, 139);
}

div{
    overflow: hidden !important;
}

h1, h2 ,h3 , h4, h5{
    color:  rgb(255, 255, 255) !important;
    font-weight: bold !important;
}

.topic-1{
    color: rgb(149,62,116) !important;
    font-weight: bold;
}

.topic-2{
    color:  rgb(255, 255, 255)!important;
    font-weight: bold;
}

a{
    text-decoration: none;       
}

.nav-link:hover , .nav-link.active{
    color: rgb(197, 44, 138);
}

.bg-dark{
    background-color: black !important;
}

.card-img-overlay{
    overflow: hidden;
}

.card:hover{
    cursor: pointer;
    /*if cards doesn't fit correctly when hover remove the border of 2px*/
    border: 2px;
}

/*--------------------
-------NAVBAR---------
---------------------*/
.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropdown-toggle:hover{
    color:  rgb(197, 44, 138) !important;
    cursor: pointer !important;
}

.dropdown-item:hover{
    color:  rgb(197, 44, 138) !important;
    cursor: pointer !important;
}

.dropdown-item:active{
    background-color:  rgb(197, 44, 138) !important;
    color: white !important;
    cursor: pointer !important;
}

.dropdown-menu{
    border: none !important;
}

.navbar{
    min-height: 70px;
    background-color: rgb(26,26,28) !important;
}

.navbar-div{
    z-index: 2;
}

.navbar-brand{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    width: 100%;
    z-index: 1;
    position: absolute;
}

.nav-link{
    color: white;
    font-weight: 500;
}

/*--------------------
-----HERO SECTION-----
---------------------*/

.parallax {
    background-image: url('https://cdn.pixabay.com/photo/2017/09/10/18/29/universe-2736507_1280.jpg');
    height: 70vh; /* Adjust as needed */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  
    display: flex;
    justify-content: start;
    align-items: center;
}


/*--------------------
-------CAROUSEL-------
---------------------*/
.swiper-pagination-bullet{
    background-color: rgb(197, 44, 138) !important;
}


/*--------------------
-------ABOUT US-------
---------------------*/
.about-us-topic{
    flex-direction: column;
}

.about-us-img-container{
    max-width: 25vw !;
}

.about-us-img{ 
    max-width: 100%;
}

.about-us-paragraph{
    text-align: center;
    color: rgb(170, 170, 170);
}

/*--------------------
--------CARDS---------
---------------------*/

.card{
    background-color: transparent !important;
    border-color: transparent !important;
    text-align: center;
}

.card-project {
    height:50vh !important;
}

.card-img{
    height: 50vh !important;
    border-radius: 0% ;
    object-fit: cover !important;
    filter: contrast(90%);
}

.card-title{
    color: rgb(255, 255, 255) !important;
}

.arrow-img{
    background-color: rgb(246,65,55);
    border-radius: 50%;
    margin-left: 20px;
}

.swiper-slide:active{
    cursor: grabbing!important;
}

/*--------------------
--------NEWS----------
---------------------*/

.news-section{
    min-width: 100%;
}

.card-news{
    height: 70vh !important ;
}

.card-news-img{
    height: 70vh !important ;
}

.card-news-sub-container{
    height: 70vh !important;
}

.card-news-sub{
    max-height: 33vh !important;
    width: 100% !important;
    margin-bottom:1vh;
}

.card-news-img-sub{
    height: 33vh !important;
    width: 100% !important;
}


/*--------------------
---------Maps---------
---------------------*/
.maps{
    text-align: center;
}

.block1, .block2, .block3 , .block4, .block5,.block6 {
    width: 100%;
    aspect-ratio: 1 !important;
}

.block1{
    background-color: rgba(0, 0, 255, 0.384);
}

.block2{
    background-color: rgba(0, 128, 0, 0.267);
}
.block3{
    background-color: rgba(162, 0, 255, 0.288);
}

.block4{
    background-color: rgba(0, 217, 255, 0.199);
}

.block5{
    background-color: rgba(132, 0, 255, 0.199);
}

.block6{
    background-color: rgba(219, 205, 3, 0.199);
}

.block7, .block8{
    aspect-ratio: 1;
    width: 100%;
}

.div{
    width: 100%;
}

.block7{
    background-color: rgba(51, 255, 0, 0.267);
}

.block8{
    background-color: rgba(78, 38, 141, 0.247);
}

.block1:hover, .block2:hover, .block3:hover , .block4:hover, .block5:hover,.block6:hover, .block7:hover, .block8:hover{
    background-color: blue;
}

.block1, .block2, .block3 , .block4, .block5,.block6, .block7, .block8 {
    overflow-y: hidden;
}

.carousel-control-prev, .carousel-control-next{
    width:100px ;
    height: 100px;
    margin-top: 15%;
}

.carousel{
    position: relative !important;
}

.carousel > h1{
    text-align: center;
}

.carousel-indicators{
    bottom: -40px !important;
    position: absolute!important;
}

.carousel-indicators > button{
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
}

.carousel-item  > .container > h3{
    text-align: center;
}


/*
.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}
*/
