body{
    font-family: inter , sans-serif;
    overflow-x: hidden;
    font-size: 18px;
    margin: 0;
    padding: 0;
    background-color: rgb(22,21,25);
}

p{
    color: rgb(139, 139, 139);
}

h1, h2 ,h3 , h4, h5{
    color:  rgb(255, 255, 255) !important;
    font-weight: bold !important;
}

a{
    text-decoration: none;       
}

.nav-link:hover , .nav-link.active{
    color: rgb(197, 44, 138);
}

.bg-dark{
    background-color: black !important;
}

.card-img-overlay{
    overflow: hidden;
}

.card:hover{
    cursor: pointer;
    /*if cards doesn't fit correctly when hover remove the border of 2px*/
    border: 2px;
}

/*--------------------
-------NAVBAR---------
---------------------*/
.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropdown-toggle:hover{
    color:  rgb(197, 44, 138) !important;
    cursor: pointer !important;
}

.dropdown-item:hover{
    color:  rgb(197, 44, 138) !important;
    cursor: pointer !important;
}

.dropdown-item:active{
    background-color:  rgb(197, 44, 138) !important;
    color: white !important;
    cursor: pointer !important;
}

.dropdown-menu{
    border: none !important;
}

.navbar{
    min-height: 70px;
    background-color: rgb(26,26,28) !important;
}

.navbar-div{
    z-index: 2;
}

.navbar-brand{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    width: 100%;
    z-index: 1;
    position: absolute;
}

.nav-link{
    color: white;
    font-weight: 500;
}

/*--------------------
-----HERO SECTION-----
---------------------*/

.hero-container{
    width: 100vw;
    height: 60vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    color: black;
    display: flex;
    justify-content: start;
    align-items: center;
}


/*--------------------
-------CAROUSEL-------
---------------------*/
.swiper-pagination-bullet{
    background-color: rgb(197, 44, 138) !important;
}


/*--------------------
-------ABOUT US-------
---------------------*/
.about-us-topic{
    flex-direction: column;
}

.about-us-img-container{
    max-width: 25vw !;
}

.about-us-img{ 
    max-width: 100%;
}

.about-us-paragraph{
    text-align: center;
    color: rgb(170, 170, 170);
}

/*--------------------
--------CARDS---------
---------------------*/

.card{
    background-color: transparent !important;
    border-color: transparent !important;
    text-align: center;
}

.card-project {
    height:50vh !important;
}

.card-img{
    height: 50vh !important;
    border-radius: 0% ;
    object-fit: cover !important;
}

.card-title{
    color: rgb(255, 255, 255) !important;
}

.arrow-img{
    background-color: rgb(246,65,55);
    border-radius: 50%;
    margin-left: 20px;
}

/*--------------------
--------NEWS----------
---------------------*/

.news-section{
    min-width: 100%;
}

.card-news{
    height: 70vh !important ;
}

.card-news-img{
    height: 70vh !important ;
}

.card-news-sub-container{
    height: 70vh !important;
}

.card-news-sub{
    max-height: 33vh !important;
    width: 100% !important;
    margin-bottom:1vh;
}

.card-news-img-sub{
    height: 33vh !important;
    width: 100% !important;
}


/*--------------------
--------CARDS---------
---------------------*/
